# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
client/Imageter/node_modules/
server/node_modules/

# Build output
client/Imageter/dist/
client/Imageter/dist-ssr/
server/dist/

# Local editor files
*.local
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
client/Imageter/.env
client/Imageter/.env.local
client/Imageter/.env.development
client/Imageter/.env.test
client/Imageter/.env.production
server/.env
server/.env.local
server/.env.development
server/.env.test
server/.env.production